@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?80bezp');
  src:  url('fonts/icomoon.eot?80bezp#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?80bezp') format('truetype'),
    url('fonts/icomoon.woff?80bezp') format('woff'),
    url('fonts/icomoon.svg?80bezp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e910";
}
.icon-chevron-up:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-x:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e900";
}
.icon-hamburger:before {
  content: "\e90a";
}
.icon-uploaded-post:before {
  content: "\e901";
}
.icon-rocket:before {
  content: "\e903";
}
.icon-business-canvas:before {
  content: "\e905";
}
.icon-select-category:before {
  content: "\e902";
}
.icon-meeting:before {
  content: "\e904";
}
.icon-find-customers:before {
  content: "\e909";
}
.icon-chats:before {
  content: "\e907";
}
